In [236]:
import pandas as pd
import numpy as np

In [237]:
df = pd.read_csv(r"C:\Users\Shivansh\Desktop\Churn_Modelling.csv")

In [238]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [239]:
df.drop(['RowNumber', 'CustomerId', 'Surname','Gender','Geography'], axis=1, inplace=True)

In [240]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,42,2,0.00,1,1,1,101348.88,1
1,608,41,1,83807.86,1,0,1,112542.58,0
2,502,42,8,159660.80,3,1,0,113931.57,1
3,699,39,1,0.00,2,0,0,93826.63,0
4,850,43,2,125510.82,1,1,1,79084.10,0

In [241]:
df.isnull().sum()

CreditScore        0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [242]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [243]:
x = df.drop('Exited', axis=1)
y = df['Exited']

In [244]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=0)
x,y = rus.fit_resample(x,y)

In [245]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x = scaler.fit_transform(x)

In [246]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=39)

In [247]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
models = {
    'Logistic Regression': LogisticRegression(),
    'Gradient Boosting': GradientBoostingClassifier(),
    'Random Forest': RandomForestClassifier()
}

In [248]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
def evaluate_model(model, X_train, y_train, X_test, y_test):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    return accuracy, precision, recall, f1

In [249]:
results = {}
for name, model in models.items():
    accuracy, precision, recall, f1 = evaluate_model(model, x_train, y_train, x_test, y_test)
    results[name] = {
        'Accuracy': accuracy,
        'Precision': precision,
        'Recall': recall,
        'F1 Score': f1
    }
# Create a DataFrame to display the results
results_df = pd.DataFrame(results).T
results_df

                     Accuracy  Precision    Recall  F1 Score
Logistic Regression  0.706748   0.696335  0.683805  0.690013
Gradient Boosting    0.769325   0.773842  0.730077  0.751323
Random Forest        0.755828   0.765363  0.704370  0.733601

In [250]:
pred = models['Random Forest'].predict(x_test)
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred)

array([[342,  84],
       [115, 274]], dtype=int64)

In [251]:
pred = models['Random Forest'].predict(x_test)
if pred[0] == 1:
    print('Customer will exit')
else:
    print('Customer will not exit')

Customer will not exit